.statistics {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    border: 2px solid black;
    border-radius: 10px;
}

.title {
    text-align: center;
    text-transform: uppercase;
}

.statList {
    display: flex;
}